{#
/**
 * @file
 * Template override for the expenses_report view using the template suggestion hook.
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ css_name,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'view-expenses-report-customized',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    <h3 class="view-custom-title">{{ title }}</h3>
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}

  {% if exposed %}
    <div class="view-filters-wrapper">
      <div class="view-filters">
        {{ exposed }}
      </div>
    </div>
  {% endif %}

  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content table-responsive">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty-wrapper">
      <div class="view-empty">
        {{ empty }}
      </div>
    </div>
  {% endif %}

  {% if pager %}
    <div class="view-pager-wrapper">
      {{ pager }}
    </div>
  {% endif %}

  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}

  {% if more %}
    <div class="view-more-link">
      {{ more }}
    </div>
  {% endif %}

  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
</div>
